/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* reset */
ol, ul, p{margin: 0; padding: 0;}

html, body{font-family: 'Pretendard-Regular';}

#wrap{width: 100%; height: 100%; background-color: rgb(225, 231, 170);}
.container{display: flex; align-items: center; flex-direction: column; width: 100%; height: 100%; padding: 0; margin: 0; max-width: none;}
.nav-tabs{border: 0; font-size: 40px; z-index: 10; width: 100%; display: flex; align-items: center; justify-content: center; background-color: #fff; height: 75px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border: none !important; background-color: transparent;}
.nav-tabs .nav-link{border: none; color: #a0aa10;}
.nav-link:hover{border: none !important;}
.nav-link.active{color: rgb(80, 122, 1) !important; font-style: oblique;}
.nav-link{font-weight: 600;}

/* tab1 */
#home-tab-pane{height: calc(100% + 600px);}
.tab1-wrap{position: relative;}
.main-title{font-size: 80px; font-weight: 700;font-style: italic; margin-top: 100px; position: relative; z-index: 9; color: #a0aa10;}
.sub-title{position: relative; z-index: 1; display: inline-block; margin-top: 30px; font-size: 30px; font-weight: 500; color: #9eb95f;}
#home-tab-pane video{position: absolute; top: 75px; left: 0; width: 100%; height: auto; object-fit: cover;}

.swp-container{position: absolute; left: 50%; top: 125%; transform: translate(-50%, 0%); z-index: 1;}
.swiper{width: 800px;}
/* .swiper-slide{cursor: pointer;} */
.swiper-slide p{font-size: 30px; font-weight: 600; text-align: center; margin-bottom: 10px;}
.swiper-slide p small{margin-left: 30px; color: #709c0a; cursor: pointer; text-decoration: underline; text-underline-position: under;}
.swiper-slide a{display: flex; align-items: center; justify-content: center;}
.swiper-slide img{border-radius: 20px; height: 500px;}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: none; top: 103%;}
.swiper-pagination-bullet{text-indent: -999999px; background-color: #709c0a; width: 15px; height: 15px;}
.swiper-pagination-bullet-active{}

.profile-box{margin-top: 30px;}
.profile-box > img{width: 400px; height: 500px; border-radius: 10px; margin-bottom: 20px;}
.profile-btm > li{font-size: 25px; font-weight: 600;}
.profile-btm small{font-size: 1rem;}
.profile-btm > li+li{margin-top: 10px;}
.career-list{font-size: 20px;}
.career-list li{display: flex; align-items: center; gap: 10px;}


