.text-center{margin-top: 74px;}
.text-center .position-absolute{width: 1566px; font-size: 44px; text-align: left;}
.memo:before{height: 638px;}
.memo{margin-top: 74px;}
.memo .short-answer{padding-left: 176px; width: 91%;}