.cha-wrap {display: flex; margin-top: 300px; justify-content: space-around;}
.cha {position: relative;}
.cha::before {position: absolute; content: ""; background: url(../../common/img/bubble01.png) 100% / contain no-repeat; width: 810px; height: 340px; transform: scaleX(-1); top: -300px; left: -273px; } 
.cha.girl::before {transform: scaleX(1); } 
.cha.girl::before{background: none; border-radius: 500px; background-color: #FEE5C4;     width: 707px; height: 265px; left: -245px; top: -292px;}
.cha.girl::after{content: ""; display: block; position: absolute; background: url(../../common/img/bubble02-tail.png) no-repeat center / contain; width: 70px; height: 70px; top: -51px;right: -111px;}

.bubble-text {position: absolute; font-size: 44px; width: 663px; z-index: 10;}


.short-answer:not(.active) { background: transparent; }