.short-answer {padding: 5px 20px;}
.custom-header-wrap { justify-content: normal; position: relative;left: 297px;gap: 271px;}
.dot-table-wrap td { padding: 55px; }
td, th{font-weight: 500 !important;}