.short-answer {padding: 3px 15px;}

/* .last-text{ position: relative; top: 110px; } */
/* .last-text::after{ position: absolute; content: ""; background: url(../../common/img/arr-grn-down.png) 100% / contain no-repeat; width: 100px; height: 100px; bottom: 100%; left: 50%; transform: translateX(-50%); } */